@font-face {
    font-family: 'Bold';
    src: url('font/Bold.otf') format('opentype');
    font-weight: 1000;
    font-style: normal;
}

@font-face {
    font-family: 'Thin';
    src: url('font/Thin.otf') format('opentype');
    font-style: normal;
}

@font-face {
    font-family: 'Heavitas';
    src: url('font/Heavitas.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Lux';
    src: url('font/Lux.otf') format('opentype');
    font-weight: -10;
    font-style: normal;
}

*{
    cursor: none;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background-attachment: fixed;
    font-family: 'Thin', sans-serif;
    background-size: 100%;
    background-image: url('image/BlackBG.jpg');
    margin: 0;
    padding: 0;
    color: #e0e0e0;
    background-color: #111111;
    z-index: 2;
    margin-top: 30vh;
}

strong {
    color: #fff;
    font-family: 'Bold', sans-serif;
    margin-left: 0.5vh;
}

.bg {
    z-index: -1;
    position: fixed;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    width: 200%;
    height: 200vh;
    background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
    background-repeat: repeat;
    animation: bg-animation .2s infinite;
    opacity: .9;
    visibility: visible;
  }
  
  @keyframes bg-animation {
      0% { transform: translate(0,0) }
      10% { transform: translate(-5%,-5%) }
      20% { transform: translate(-10%,5%) }
      30% { transform: translate(5%,-10%) }
      40% { transform: translate(-5%,15%) }
      50% { transform: translate(-10%,5%) }
      60% { transform: translate(15%,0) }
      70% { transform: translate(0,10%) }
      80% { transform: translate(-15%,0) }
      90% { transform: translate(10%,5%) }
      100% { transform: translate(5%,0) }
  }

.links-container {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    gap: 5vh;
    justify-content: right;
    margin-right: 2vh;
    z-index: 200;
}

.link, .link-mobile {
    margin-top: 13.5vh;
    text-decoration: none;
    font-size: 5vh;
    color: #e0e0e0;
    transition: margin-top 0.15s ease;
}

.link-mobile {
    visibility: hidden;
}

.link:hover {
    margin-top: 13.25vh;
}

.link.clicked {
    color: gray;
}

.download {
    margin-top: 13.5vh;
    text-decoration: none;
    font-size: 5vh;
    color: #e0e0e0;
    transition: margin-top 0.15s ease;
}

.download:hover {
    margin-top: 13.25vh;
}

.navbar {
    display: flex;
    z-index: 100;
    background-color: #e0e0e0;
}

#logo {
    z-index: 100;
    margin-left: 2vh;
    top: 10vh;
    width: 10vh;
    position: absolute;
}

.text-container {
    z-index: 100;
    font-size: 2.5vh;
    display: flex;
    position: absolute;
    top: 11vh;
    left: 12vh;
    flex-direction: column;
}

.description {
    margin-left: 0.5vh;
    color: gray;
}

.gallery-item.personal-project,
.gallery-item.commission {
    display: none; 
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    padding: 2vh;
}

.gallery-item {
    position: relative;
    margin: 2.5vh;
    justify-content: center;
    border-radius: 5vh;
    overflow: hidden;
    height: 75vh;
    width: 100%;
    transition: transform 0.5s;
    box-shadow: 0 0 3vh #00000099
}

.gallery-item:hover{
    transform: scaleX(0.95) scaleY(0.95);
}

.gallery-img {
    width: 100%;
    object-position: center;
    display: block;
}

.project-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100vh; 
    transition: transform 0.75s ease;
    z-index: 2;
}

.project-logo img {
    display: block;
    max-height: 20vh;
    min-height: 20vh;
}

.gallery-item:hover .project-logo {
    transform: translate(-50%, -95%) scale(0.8); 
}

.gallery-item .overlay {
    position: absolute;
    font-size: 2vh;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:#08080870;
    color: #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    font-family: 'Thin', sans-serif;
    font-size: 2.5vh;
}

.gallery-item:hover .overlay {
    opacity: 1;
}

name {
    color: #e0e0e0;
}

.no-scroll {
    overflow: hidden;
}

.landing-page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #080808;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: opacity 0.5s ease-out;
}

.landing-page.hidden {
    opacity: 0;
    pointer-events: none;
}

#landing-logo {
    width: 20vh;
    position: absolute;
    left: 45%;
    top: 40%;
    margin-top: 5vh;
    transition: transform 1s ease-in-out, left 1s ease-in-out, top 1s ease-in-out;
}

#landing-logo.shrink {
    transform: scale(0.5);
    left: -3vh;
    top: 0;
}

.Ig-link{
    height: 8vh;
    pointer-events: none;
    transition: transform 0.15s ease;
}

.Ig-link:hover{
    transform: translateY(-0.3vh);
}

.Ig-link a{
    pointer-events:all;
    text-decoration: none;
    position: absolute;
    right: 2vh;
    color: #e0e0e0;
    font-size: 3vh;
}

#infos{
    margin-left: 2.5vh;
    min-height: 72.5vh;
}

#infos img {
    position: absolute;
    right: 2.5vh;
    top: 35vh;
    width: 70vh;
    height: 85vh;
    box-shadow: 0 0 3vh #00000099;
    object-fit: cover;
}

h1{
    margin-top: 15vh;
    font-size: 5vh;
}

.subtitle {
    color: gray;
    margin-right: 100vh;
    font-size: 3vh;
    margin-top: 5vh;
}

.subtitle a {
    color: inherit;
    text-decoration: none;
}

.subtitle a:hover {
    text-decoration: underline;
}

.cursor {
    z-index: 999;
    width: 2.5vh;
    height: 2.5vh;
    border-radius: 50%;
    background-color: #e0e0e0;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    transition: transform 0.1s ease-out;
    will-change: transform;
}


header {
    text-align: center;
    padding: 5vh 0;
    position: relative;
    min-height: 50vh;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vh;
}

.header-content h1 {
    text-shadow: 0 0 2vh #00000099;
    font-family: 'Lux';
    font-size: 25vh;
    margin: 0;
}

.scrolling-bands {
    position: relative;
    width: 110%;
    left: -1vh;
    height: 10vh;
}

.band {
    position: absolute;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 3vh #00000099;
}

.band1 {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    transform: rotate(-3deg);
    top: 0;
}

.band2 {
    background: #e0e0e0;
    transform: rotate(3deg);
    top: 5vh;
}

.scrolling-text {
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
}

.scrolling-text p {
    font-family: 'Heavitas', sans-serif;
    font-size: 7.5vh;
    margin: 0;
}

.band1 .scrolling-text p {
    color: #e0e0e0;
}

.band2 .scrolling-text p {
    color: #131313;
}

.achievements {
    font-family: 'Bold', sans-serif;
    background: #08080880;
    color: #ffffff;
    backdrop-filter: blur(15px);
    margin-top: 15vh;
    padding: 20px; 
    transition: background 1s ease-in-out;
    text-align: center; 
}

.achievements h2 {
    font-family: 'Bold', sans-serif;
    font-size: 7vh;
}