@media (max-width: 768px) {

    html{
        overflow-x: hidden;
    }

    body{
        margin-top: 10vh;
    }

    .achievements h2 {
        font-size: 4vh;
    }

    .achievement-item {
        font-size: 2vh;
    }

    .header-content h1 {
        font-size: 5.5vh;
    }

    .download{
        visibility: hidden;
    }

    .cursor{
        visibility: hidden;
    }

    .link {
        visibility: hidden;
    }

    header{
        margin-top: 10vh;
        max-width:100%;
        overflow: hidden;
    }

    header h1 {
        font-size: 15vh;
    }

    .band{
        height: 5vh;
    }

    .band1 {
        transform: rotateZ(-3deg);
    }    

    .band2{
        transform: translateY(-3.5vh) rotateZ(3deg);
    }

    .band1 .scrolling-text p, 
    .band2 .scrolling-text p {
        font-size: 3.5vh;
    }

    .landing-page{
        visibility: hidden;
    }

    .achievements {
        margin-top: 5vh;
        flex-direction: column;
        gap: 10px;
        font-size: smaller;
    }

    #infos img {
        visibility: hidden;
    }

    .subtitle {
        margin-right: 0;
        font-size: 2.5vh;
    }

    .gallery-item {
        margin: 1em 0;
        height: 25vh;
        border-radius: 5vh;
    }

    .project-logo img {
        visibility: hidden;
    }

    .gallery-item img{
        min-height: 100%;
    }

    .gallery-item:hover{
        transform: scale(1);
    }

    .gallery-item .overlay {
        opacity: 1;
        font-size: 2vh;
        background-color: #08080880
    }

    #logo {
        width: 7.5vh;
    }
    
    .text-container {
        font-size: 2vh;
        top: 11vh;
        left: 10vh;
    }

    .Ig-link a{
        font-size: 2vh;
    }

    .link-mobile {
        visibility:visible;
        margin-top: 10.5vh;
    }

    .links-container{
        gap: 2vh;
    }

    #infos{
        margin-left: 2.5vh;
    }
}