.shift-tooltip {
    position: absolute !important;
    bottom: 10px !important;
    left: 10px !important;
    z-index: 10;
    pointer-events: none;
    display: none;
}

.shift-tooltip.show { display: block; }
.shift-tooltip > div { color: var(--primary-purple) !important; padding: 4px 8px !important; font-size: 10px !important; }
.shift-tooltip .shift-tooltip-content { display: flex !important; gap: 10px !important; white-space: nowrap !important; }
.shift-tooltip .shift-tooltip-item { display: flex !important; align-items: center !important; gap: 4px !important; font-size: 10px !important; opacity: 0.85 !important; }
