* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
  
body, html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #000;
}
  
.overlay {
    position: relative;
    width: 100%;
    height: 100%;
}
  
.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: opacity 1s ease-in-out;
    z-index: 0;
}
  
.gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), transparent, rgba(0, 0, 0, 1));
    z-index: 0;
}
  
.info {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #ffffff;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}
  
.time {
    font-size: 3em;
    font-weight: bold;
}
  
.date {
    font-size: 1.5em;
}
  
.weather {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 3em;
    color: #ffffff;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
}
  
.weather-icon {
    margin-left: 10px;
    font-size: 1em;
}
  
.metadata {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.75em;
    color: #ffffff;
    opacity: 0.7;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

#rssContainer {
    z-index: 2;
    position: relative;
}

.rss-container strong {
    font-weight: bold;
    font-size: 1.5em;
}

.rss-container span {
    font-weight: normal;
}

#screen-mirror-btn, #music-btn {
    outline: 1.5px solid rgba(255, 255, 255, 0.25); 
    height: 55px;
    width: 55px;
    position: absolute;
    bottom: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 2em;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    transition: background-color 0.3s;
    backdrop-filter: blur(25px);
}

#screen-mirror-btn {
    left: 20px;
}

#music-btn {
    left: 100px
}

#screen-mirror-btn:hover, #music-btn:hover {
    background-color: rgba(255, 255, 255, 0.15);
}