<header>
    <nav class="navbar">
        <div class="nav-container">
            <div class="logo">
                <a href="/"><img src="images/logo.png" alt="AzurShield.fr Logo"></a>
            </div>
            <div class="search-container">
                <i class="fas fa-search search-icon"></i>
                <input type="search" id="search-bar" placeholder="Rechercher un produit...">
                <div class="search-suggestions" id="search-suggestions"></div>
            </div>
            <div class="cart-icon" onclick="toggleCart()">  
                <span class="cart-icon" id="cart-icon">
                    <i class="fas fa-shopping-cart"></i>
                </span>
                <span class="cart-count" id="cart-count">0</span>
            </div>
        </div>
    </nav>
</header>
