@font-face {
    font-family: 'Mooncrowd';
    src: url('fonts/MOONCROWD.otf') format('opentype');
    font-weight: 1000;
    font-style: normal;
  }
  
  :root {
    --bg: #ffffff;
    --primary-color: #242424;
    --secondary-color: #000000;
    --text-color: #242424;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
  }
  
  body {
    background-color: var(--bg);
    color: var(--text-color);
  }
  
  /* Navbar */
  .navbar {
    position: absolute;
    width: 100%;
    top: 0;
    background: linear-gradient(#000000, transparent);
    padding: 2.5vh;
    text-align: center;
    z-index: 1;
  }
  
  .navbar .logo img {
    height: 30vh;
    display: block;
    margin: 2vh auto 0;
  }
  
  /* Video Section */
  .video-section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .video-section h1 {
    text-align: center;
    font-size: 6vh;
    color: #ffffff;
    font-family: 'Mooncrowd', sans-serif;
  }
  
  .background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  
  .content-overlay {
    position: absolute;
    top: 32.5vh;
    width: 100%;
    padding: 1vh;
  }
  
  .fade-in {
    opacity: 0;
    transition: opacity 1s ease, transform 1s ease;
  }
  
  .fade-in.fade-in {
    opacity: 1;
    transform: translateY(0);
  }
  
  /* Buttons */
  .buttons {
    margin-top: 2vh;
    display: flex;
    gap: 2vh;
    justify-content: center;
  }
  
  .btn {
    border: 0.1vh solid white;
    background: transparent;
    color: white;
    padding: 1vh 2vh;
    font-size: 3vh;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
  }
  
  .btn:hover {
    background: white;
    color: black;
  }
  
  /* Apartment Description */
  .description {
    color: #ffffff;
    font-size: 2.75vh;
    max-width: 125vh;
    margin: 5vh auto;
    text-align: justify;
  }
  
  /* Footer */
  footer {
    height: 6vh;
    z-index: 4;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--primary-color);
    color: #ffffff;
    text-align: center;
    padding: 1.5vh;
    font-size: 2.75vh;
  }
  
  .carousel-section {
    overflow: hidden;
    position: relative;
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg);
    padding: 2vh;
    box-sizing: border-box;
}
  
  .carousel-section h1 {
    position: absolute;
    top: 3vh;
    font-size: 12.5vh;
    color: var(--text-color);
    z-index: 2;
    font-family: 'Mooncrowd', sans-serif;
  }
  
  .carousel-container {
    position: relative;
    width: 80%;
    max-width: 150vh;
    top: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
  }
  
  .carousel {
    width: 50%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
  }
  
  .carousel-image {
    width: 100%;
    object-fit: cover;
    height: 60vh;
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .carousel-image.active {
    opacity: 1;
  }
  
  .carousel-info {
    margin-left: 2vh;
    width: 50%;
    text-align: justify;
    padding: 2vh;
    color: var(--text-color);
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
  }
  
  .carousel-info.active {
    opacity: 1;
  }
  
  .carousel-info h2 {
    font-size: 5vh;
    font-weight: bold;
    margin-bottom: 2vh;
  }
  
  .carousel-info p {
    font-size: 3vh;
    line-height: 1.6;
  }
  
  /* Nearby Section */
  /* Nearby Section */
.nearby-section {
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    position: relative;
    height: 100vh;
    overflow: hidden;
    object-fit: cover;
    background-size: cover;
  }
  
  .image-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
  }
  
  .nearby-image {
    box-shadow: 0 25px 25px 0 #00000050;
    outline: thick double var(--bg);
    position: absolute;
    top: 22.5%;
    left: 0;
    border-radius: 50%;
    height: 70vh;
    width: 70vh;
    object-fit: cover;
    opacity: 0;
    will-change: transform, opacity; 
    transition: transform 1s ease, opacity 1s ease;
  }
  
  .nearby-image.active {
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
  }
  
  .nearby-image.leaving {
    transform: translateX(-150%);
    opacity: 0;
  }
  
  .text-overlay {
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--bg);
    z-index: 2;
    opacity: 0;
    transition: opacity 1.5s ease;
  }
  
  .text-overlay.active {
    opacity: 1;
  }
  
  .title {
    max-width: 68vh;
    font-size: 6vh;
    text-shadow: #000000aa 0px 2px 5px;
  }
  
  .distance {
    font-size: 2.5vh;
    display: flex;
    align-items: center;
    text-shadow: #000000 0px 2px 5px;
  }
  
  .bg-filter {
    background-color: #06153e80;
    height: 100%;
    width: 100%;
    min-height: 100%;
    min-width: 100%;
    backdrop-filter: blur(5px);
  } 
  
  .nearby-section h1 {
    position: absolute;
    top: 3vh;
    font-size: 12.5vh;
    color: var(--bg);
    z-index: 2;
    font-family: 'Mooncrowd', sans-serif;
  }
  
  .contact-section {
    height: 106vh;
    background-color: var(--secondary-color);
    color: var(--bg);
    padding: 4vh 2vh;
    text-align: center;
  }
  
  .contact-section h1 {
    font-family: 'Mooncrowd', sans-serif;
    margin: 2vh 0;
    font-size: 12.5vh;
    color: #fff;
  }
  
  .contact-section form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    width: 70vh;
    margin: 0 auto;
  }
  
  .contact-section input,
  .contact-section textarea {
    width: 100%;
    padding: 1vh;
    border: 0.1vh solid #fff;
    background-color: var(--secondary-color);
    color: var(--bg);
    font-size: 3vh;
  }
  
  .contact-section textarea {
    min-width: 70vh;
    max-width: 70vh;
    max-height: 45vh;
    height: 45vh;
  }
  
  .contact-section input::placeholder,
  .contact-section textarea::placeholder {
    color: #aaa;
  }
  
  .contact-section button {
    width: 70vh;
    font-size: 3vh;
    padding: 1vh 4vh;
    background-color: var(--secondary-color);
    outline: 0.1vh solid var(--bg);
    color: var(--bg);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .contact-section button:hover {
    background-color: var(--bg);
    color: var(--secondary-color);
  }

.season-pricing {
    display: flex;
    gap: 15vh;
    justify-content: center;
    align-items: center;
}

.season {
    text-align: center;
    font-size: 1.2em;
}

.season-icon {
    font-size: 2em;
    display: block;
    margin-bottom: 0.2em;
}