<footer id="contact">
    <div class="footer-container">
        <div class="footer-about">
            <img src="images/logo.png" alt="AzurShield.fr Logo" class="footer-logo">
            <p>Votre expert en solutions de sécurité et domotique pour une maison protégée et connectée.</p>
        </div>
        <div class="footer-links">
            <h3>Catégories</h3>
            <ul>
                <li><a href="#" onclick="scrollToProductsAndFilter('cameras')">Sécurité</a></li>
                <li><a href="#" onclick="scrollToProductsAndFilter('eclairage')">Domotique</a></li>
                <li><a href="#" onclick="scrollToProductsAndFilter('all')">Tous les produits</a></li>
            </ul>
        </div>
        <div class="footer-links">
            <h3>Liens utiles</h3>
            <ul>
                <li><a href="#">CGV</a></li>
                <li><a href="#">Mentions légales</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
        <div class="footer-links">
            <h3>Mon Compte</h3>
            <ul>
                <li><a href="#">Connexion</a></li>
                <li><a href="#">Mes commandes</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2025 AzurShield.fr. Tous droits réservés.</p>
    </div>
</footer>
